<div class="upper_titleContainer" th:fragment="upper" >
  <div  class="upper_title"><a class="upper_title noDeco" th:href="@{/}">SPRING BANK</a></div>
  <th:block th:if="${loginMember==null}">
    <div class="upper_loginSignUpContainer">
      <a class="upper_login noDeco" th:href="@{/auth/login}">로그인</a>
      <a class="upper_signup noDeco"th:href="@{/auth/signup}">회원가입</a>
    </div>
  </th:block>
  <form method="post" action="/auth/logout" th:if="${loginMember!=null}">
    <div class="upper_greetingContainer">
      <p class="upper_greeting" >[[|${loginMember.name}님 반가워요|]]<p/>
      <button class="upper_logout noDeco"th:href="@{/auth/logout}">로그아웃</button>
      <input type="hidden" th:value="${_csrf.getToken()}" th:name="${_csrf.getParameterName()}">
    </div>
  </form>
</div>