<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spring Bank 500</title>
  <link rel="stylesheet" th:href="@{../../css/upper.css}">
  <style>
    .error500{
      position: relative;
      top:100px;
      text-align: center;
      font-weight: 300;

    }
    a.error500{
      font-weight: 500;
      display: block;
      text-decoration: none;
      color: rgb(120,184,86);
    }

  </style>
</head>
<body>
<h1 class="error500">죄송합니다.</h1>
<h2 class="error500">잘못된 요청입니다</h2>
<a  class="error500" th:href="@{/}">홈으로</a>
</body>
</html>