.upper_title{
    text-align: left;
    font-weight: 400;
    margin:0px;
    padding-top:20px;
    padding-left: 20px;
    color:rgb(86,143,77);
    font-size:30px;


}
.upper_titleContainer{
    background-color: white;
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.upper_loginSignUpContainer{

    padding-right:20px;
    width:140px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;

}
.upper_login{
    color:rgb(86,143,77);
}
.upper_signup{
    color:rgb(86,143,77);
}
.upper_logout{
    padding: 0px;
    border: none;
    background-color: white;
    color:rgb(86,143,77);
}
.upper_greeting{
    color:rgb(86,143,77);
}
.upper_greetingContainer{

    padding-right:20px;
    width:220px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.noDeco{
    text-decoration: none;
}
body{
    margin:0px;
}